/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Sofia';
   color: rgb(248, 227, 110);
   background-color: rgba(95, 104, 101, 0.877);
 }

 .container {
   max-width: 900px;
   margin: 0 auto;
 }

 nav {
   display: flex;
   justify-content: flex-end;
 }

 h1 {
   font-size: 55px;
   text-align: center;
 }

 h2 {
   font-size: 35px;
   text-align: center
 }

 a {
   text-decoration: none;
   background-color: rgb(248, 227, 110);
   border-radius: 15%;
 }

nav a {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px;
}

form {
  margin: 50px auto;
  width: 400px;
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center
}

form p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

form input[type=submit] {
  height: 40px;
  width: 35%;
  align-self: flex-end;
  background-color: rgb(114, 217, 248);
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 7%;
}