
<% track.notes.each do |note| %>
  <p><%= note.user.email %>: <%= note.info %></p>

  <% if note.user_id == current_user.id %>
    <form action="<%= note_url(note) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Note">
    </form>
  <% end %>
<% end %>