#sections-sidebar-btn .sections-nav {
    display: none;
    opacity: 0;
}

.expand {
    opacity: 1;
}

@media all and (max-width: 1000px) {
  .sections-nav, .language-nav, .right-nav {
    display: none;
  }

  .left-nav {
    margin: 0;
    padding: 10px;
  }
}