<ul>
  <% comment.child_comments.each do |child_comment| %>
    <li><a href="<%= comment_url(child_comment) %>"><%= child_comment.content %></a></li>
    <%= render 'comment', comment: child_comment %>
  <% end %>
</ul>